<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <style>
    body {
      margin: 0;
      font-family: 'Avenir', 'Corbel', 'Osaka' 'MS Pゴシック';
      color: #111;
    }
    h1 {
      background-color: #fff0f0;
      margin: 0;
    }

    div {
      padding: 10px;
    }

    #span {
      border-radius: 10px;
      background-color: #fff0f0;
      padding: 8px;
    }

    .bot {
      text-align: left;
    }

    .user {
      text-align: right;
    }
    .dang {
        color: #f00;
    }
  </style>
</head>

<body>
  <h1>{{ title }} と会話しよう！</h1>
  <div id="chat"> </div>
  <div class="user">
    <span id="mojisuu">0/0</span>
    <input id="txt" size="40">
    <button id="but">発言(40文字以内)</button>
  </div>
  ※このサイトは学習をするので変な文章は入れないでください。
  <script>
    "use strict";

    var url = "/";
    function esc(s) {
      console.log(s);
      return s.replace('&', '&amp;').replace('<', '&lt;').replace('>', '&gt;');
    }
    $("#txt").keyup(function(e){
            var l = $("#txt").val().length;
            $('#mojisuu').text(String(l) + "/40");
            if(l>-1 && l<41){
                  $('#but').prop('disabled', false);
                  $('#mojisuu').removeClass('dang');
            } else {
                  $('#but').prop('disabled', true);
                  $('#mojisuu').addClass('dang');
            }
    });
    $('#but').click( function (){
      var l = $("#txt").val().length;
      if (l < 0 || l > 40){
        return;
      }
      $.ajax({
        data: JSON.stringify({
          'm': "say",
          'txt': $("#txt").val()
        }),
        type: 'POST',
        url: '/postText',
        contentType: 'application/json'
      })
        .done(function (data) {
          var html = "<div class='user'><span id='span'>" + esc($("#txt").val()) + "</span>：あなた</div><div class='bot'>prodang：<span id='span'>" + esc(JSON.parse(data.ResultSet).result) + "</span></div>";
          $("#chat").html($("#chat").html() + html);
          $("#txt").val('').focus();
        });
    });
  </script>
</body>

</html>

